@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/web/ptsans.woff') format('woff'),
    url('../fonts/web/ptsans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans', 'Arial', sans-serif;
    src: url('../fonts/web/ptsansbold.woff') format('woff'),
    url('../fonts/web/ptsansbold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

html,body{
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'PT Sans', 'Arial', sans-serif;
}
.interesting header{
    margin-top: 26px;
    line-height: 36px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.interesting p{
    color: #333333;
    line-height: 10px;
    font-size: 14px;
}
.page-wrapper{
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    background-color: white;
    text-transform: uppercase;
    background-image: url('../img/intro-bg.jpg');
    background-repeat: no-repeat;
}
.logo{
    left: 600px;
    transform: translateX(-50%);
    border: none;
    margin-left: 600px;
}
.menu{
    padding: 0 6%;
    height: 70px;
    margin-top: -75px;
    z-index: 100;
}
.menu ul{
    height: 56px;
    padding-left: 0;
    font-size: 0;
    background-color: white;

}
.menu li{
    vertical-align: top;
    text-align: center;
    line-height: 56px;
    font-weight: bold;
    font-size: 14px;
    width: 20%;
    display: inline-block;
    text-transform: uppercase;
}
.menu .active a{
    color: #766357;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu li:nth-child(1){
    float: left;
}
.menu li:nth-child(2){
    float: left;
}
.menu li:nth-child(3){
    float: right;
}
.menu li:nth-child(4){
    float: right;
}
.intro{
    height: 502px;
}
.intro:after{
    position: relative;
    content: url('../img/shape.png');
    top: -40px;
}
.welcome-img{
    margin: 63px auto;
    display: block;
}

.title{
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}
.title img{
    width: 300px;
    height: 84px;
    margin-top: 17px;
}
.content{
    width: inherit;
    background-color: white;
    margin-top: -70px;
}
.content .title{
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    width: 500px;
}
.content .sub-title{
    margin: 32px auto;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 57px;
}
.comparation-box{
    font-size:0;
}
.comparation-box div{
    vertical-align: top;
}
.comparation-box .comparation-row:nth-child(2){
    height: 330px;
}
.content td{
    width: 33.33333333%;
    text-align: center;
}
.content tr{
    height: 257px;
}
.content .one-size-block{
    display: inline-block;
    width: 400px;
    height: 257px;
}
.content .double-size-block{
    display: inline-block;
    width: 66.66666%;
    height: 257px;
}
.content .one-size-block img{
    position:absolute;
    padding: 55px 0 0 162px;
}
.blue-theme{
    background-color: #82b3d3;
    color: white;
}

.comparation-item-second p:nth-child(1),
.comparation-item p:nth-child(1){
    text-align: center;
    padding: 24px 125px 0 124px;
    line-height: 21px;
    font-size: 21px;
    font-weight: bold;
}
.comparation-item-second p:nth-child(2),
.comparation-item p:nth-child(2){
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 6px;
    text-align: center;
    line-height: 1;
    letter-spacing: 1px;
}
.comparation-item p:nth-child(3){
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding: 12px 55px 0 55px;
}

.offset-double-size-block p:nth-child(3){
    font-size: 14px;
    line-height: 21px;
    padding: 12px 40px 0 40px;
    text-align: center;
}
.comparation-advantage p:nth-child(2){
    text-align: center;
    padding-top: 137px;
    font-size: 21px;
    font-weight: bold;
}
.comparation-advantage p:nth-child(3){
    font-size: 14px;
    text-align: center;
    padding: 1px 50px 0 50px;
    line-height: 1.5;
}
.comparation-item-second p:nth-child(3){
    font-size: 14px;
    text-align: center;
    padding: 12px 62px 0 60px;
    line-height: 1.5;
}
.comparation-row:nth-child(4){
    background-color: #eeeeee;
}
.interesting{
    text-align: center;
    padding-top: 23px;
}
.interesting h2{
    font-size: 30px;
    line-height: 35px;
}
#map-hotels{
    background-image: url('../img/map.jpg');
    background-color:#f2f1ef;
    background-size: cover;
    width: 100%;
    height: 598px;
    margin-top: -58px;
}
.footer{
    height: 120px;
    font-size: 0;
    background-color: rgba(255,255,255,0.9);
}
.footer .footer-block{
    vertical-align: top;
    display: inline-block;
    width: 33.33333%;
    height: 75px;
    text-align: center;
    padding-top: 44px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.footer-block a{
    color: inherit;
    text-decoration: none;
}
.footer .footer-block:nth-child(2) {
    padding-top: 34px;
}

.footer .footer-block:nth-child(3){
    font-size: 13px;
    font-weight: 100;
}
.footer .socials{
    width: 47px;
    margin-top: -9px;
    margin-left: -111px;
    display: inline-flex;
    padding-left: 0;
}
.footer-upped{
    margin-top: -120px;
}
.socials li{
    display: inline-table;
    background-color: #82b3d3;
    width: 46px;
    height: 28px;
    padding: 12px 0 7px 0;
    margin: 10px 3px;
}
.label-site{
    vertical-align: top;
    padding-top: 0;
    font-size: 14px;
    line-height: 26px;
    width: 80px;
    font-weight: 100;
    display: inline;
}
#search-btn{
    background-color: #766257;
    color: white;
    width: 546px;
    height: 58px;
    margin: 55px auto;
    font-size: 21px;
    line-height: 26px;
    padding: 30px 12px 0 12px;
    font-weight: bold;
}
.academy{
    margin-top: -5px;
}
.house-block{
    background: url('../img/house-bg.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 800px 393px;
    background-position-y: -74px;
}
.canyon-block{
    background: url('../img/canyon-bg.jpg');
}
.offset-double-size-block{
    margin-left: 800px;
}



.filter_background {
    background-image: url("../img/filter-background.png");
    position: absolute;
    left: 40px;
    top: -238px;
    width: 1200px;
    height: 800px;
    z-index: 4;
}
