@font-face {
    font-family: 'ptsans';
    src: url('fonts/web/ptsans.woff') format('woff'),
    url('fonts/web/ptsans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ptsans';
    src: url('fonts/web/ptsansbold.woff') format('woff'),
    url('fonts/web/ptsansbold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

html,body{
  /*  overflow: hidden; */
    margin: 0 0;
    background-color: #f2f2f2;
    font-family: ptsans;
}
h1{
    letter-spacing: -1.1px;
    padding-bottom: 9px;
}
h5{
    color: #333333;
    font-weight: inherit;
    letter-spacing: 0.4px;
    line-height: 0.3;
}
.page{
/*    margin-left: calc(50vw - 600px);
    margin-right: calc(50vw - 600px); */
    width: 1200px;
    margin: auto 6%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 2762px;
    background-color: white;
    text-transform: uppercase;
}
.logo{
    position: absolute;
    width: 138px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('img/logo.png');
    border: none;
}
.menu{
    background: none;
    height: 70px;
    width: 100%;
}
.menu ul{
    height: 56px;
    padding-left: 0;
    font-size: 0;
    background-color: white;

}
.menu li{
    vertical-align: top;
    text-align: center;
    line-height: 56px;
    font-weight: bold;
    font-size: 14px;
    width: 20%;
    display: inline-block;
    text-transform: uppercase;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu li:nth-child(1){
    float: left;
}
.menu li:nth-child(2){
    float: left;
}
.menu li:nth-child(3){
    float: right;
}
.menu li:nth-child(4){
    float: right;
}
.intro{
    background-image: url('img/intro-bg.jpg');
    background-color:cornflowerblue;
    height: 565px;
    width:inherit;
}
.intro-shape{
    background-image: url('img/intro-shaper.png');
    margin-top: -64px;
    width: 100%;
    height: 57px;
}
#welcome{
    font-family: fantasy;
    color: #81b4d3;
    margin-top: 55px;
    text-align: center;
    font-size: 50px;
}
#welcome img{
    width: 260px;
    height: 32px;
}
#title{
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 122px;
}
#title img{
    width: 300px;
    height: 84px;
    margin-top: 17px;
}
#content{
    width: inherit;
    background-color: white;
}
#content .title{
    text-align: center;
    margin: 0 auto;
    padding-top: 57px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    width: 500px;
}
#content .sub-title{
    margin: 29px auto;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 55px;
}
#comparation-box{
    font-size:0;
}
#comparation-box div{
    vertical-align: top;
}
#content td{
    width: 33.33333333%;
    text-align: center;
}
#content tr{
    height: 257px;
}
#content .col-1{
    display: inline-block;
    width: 33.33333%;
    height: 257px;
}
#content .col-2{
    display: inline-block;
    width: 66.66666%;
    height: 257px;
}
#content .col-1 img{
    padding: 58px 0 0 162px;
}
.blue-theme{
    background-color: #82b3d3;
    color: white;
}

#content .row-2{
    height: 330px;
}
.comparation-item p:nth-child(1){
    text-align: center;
    padding: 27px 133px 0 123px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.05;
}
.comparation-item p:nth-child(2){
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
    text-align: center;
    line-height: 1;
    letter-spacing: 1px;
}
.comparation-item p:nth-child(3){
    font-size: 14px;
    padding: 12px 60px 0 64px;
    text-align: center;
    line-height: 1.5;
}
.comparation-advantage p:nth-child(2){
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
}
.comparation-advantage p:nth-child(3){
    font-size: 14px;
    text-align: center;
    padding: 1px 50px 0 50px;
    line-height: 1.5;
}
.cmp-row:nth-child(4){
    background-color: #eeeeee;
}
#whitespase-bar{
    height: 71px;
}
#interesting{
    text-align: center;
    padding-top: 23px;
}
#map-hotels{
    background-image: url(img/map.jpg);
    background-color:#f2f1ef;
    background-size: cover;
    width: 100%;
    height: 540px;
    margin-top: -58px;
}
#footer{

    position: relative;
    top: -65px;
    font-size: 0;
    background-color: rgba(255,255,255,0.95);
}
#footer .footer-block{
    vertical-align: top;
    display: inline-block;
    width: 33.33333%;
    height: 75px;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
}
#footer .footer-block:nth-child(3){
    font-size: 13px;
}
#footer .socials{
    width: 55px;
    height: 55px;
}
#label-site{
    vertical-align: top;
    padding-top: 0;
    font-size: 14px;
    line-height: 37px;
    margin-right: 20px;
    font-weight: 500;
    width: 80px;
    display: inline-block;
}
#search-btn{
    background-color: #81b3d2;
    width: 546px;
    height: 58px;
    margin: 56px auto;
    font-size: 21px;
    padding-top: 28px;
    padding-right: 18px;
    font-weight: bold;
}